@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);
  --font-redhat: var(--font-redhat);
  --font-epilogue: var(--font-epilogue);
  --font-clash: var(--font-clash);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-clash), var(--font-poppins), var(--font-epilogue), Arial,
    Helvetica, sans-serif;
}

.clip-top-left {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}

.clip-bottom-right {
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.clip-cta {
  clip-path: polygon(
    12% 0%,
    /* bigger top-left cut */ 100% 0%,
    100% 85%,
    /* adjust vertical depth */ 88% 100%,
    /* bigger bottom-right cut */ 0% 100%
  );
}
